/* Contact Form */
.c-contact-form { $c: &;

	.container {
		position: relative;
	}

	&__contact-head {
		margin-bottom: 48px;
		text-align: center;
	}

	&__contact-title {
		display: inline-block;
		margin-bottom: 20px;
		font-size: 58px;
	}

	&__contact-description {
		font-size: 20px;
		font-weight: 500;

		@media only screen and (max-width: $mobile) {
			font-size: 16px;
		}
	}

	a {
		font-weight: 500;
		border-bottom: 1px solid $border-color;
	
		&:hover {
		  color: $link-color;
		  border-bottom-color: $link-color-hover;
		}
	  }
}